@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 18px;
}
::-webkit-scrollbar-thumb {
    background-color: #FEB234;
}
::-webkit-scrollbar-thumb:active {
    background-color: #e29d2d; 
}
.bmo-link {
    @apply hover:text-bmo-b hover:cursor-pointer duration-200;
}