@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 18px;
}
::-webkit-scrollbar-thumb {
    background-color: #FEB234;
}
::-webkit-scrollbar-thumb:active {
    background-color: #e29d2d; 
}
.bmo-link {
    @apply hover:text-bmo-b hover:cursor-pointer duration-200;
}
.bmo-btn {
    @apply hover:cursor-pointer bg-bmo-y text-base md:text-lg lg:text-xl text-white transition duration-200 hover:text-bmo-b py-2 px-4 w-fit;
}